
{% extends "base.html" %}

{% block maincss %}
{% endblock %}


{% block mainbody %}
  <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>WeBlog!</h1>
            <p>This is an example to show the blog.</p>
          </div>
          <div class="row">
             {% for article in blogs %}
               <div class="col-xs-11 col-lg-11">
                 <h2> <a href="{% url 'details' article.id %}"> {{ article.caption }} </a></h2>
                 <p>{{ article.content | slice:"0:100" }} ... </p>
               </div><!--/.col-xs-6.col-lg-4-->
             {% endfor %}


          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->


      </div><!--/row-->



{% endblock %}


{% block mainjs %}

{% endblock %}

